<div  id="updates" class="na" >
       <%= render partial: "activities" %>
        </div>
<div class="sectio" >
<div class="btn-group ">
  <%= button_to "ASK QUESTION", new_post_path, :class => "btn" %>
</div>
<!DOCTYPE html>

       <table style="width:500px; margin-top:30px"class="table table-striped table-bordered table-condensed">
       <th colspan="3"> QUESTIONS LIST</th>
<% @posts.each do |post| %>

<tr>
<td style="width:30px"><%=   post.answers.count %> ans</td>
<td style="width:50px"><%=   post.views %> views</td>
<td style="width:20px"><%= link_to  post.question, post_path(post) %></td>
</tr>

     
        <% end %>
</table>
</div>
    
        
   

