<h1>question  lists</h1>
 
<table>
  <tr>
    <th>question </th>
    <th>Commenter</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.question%></td>
      <td><%= post.commenter %></td>

   <td><%= link_to 'Show', post_path(post) %></td>
   <td><%= link_to 'Edit', edit_post_path(post) %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'ask question', new_post_path %>