
  

  <div class="sectio">
<%= form_for :post, url: posts_path do |f| %>  <p>

    <%= f.label :Question %> 
    <%= f.text_field :question %>
  </p>
 
 
  <p>
    <%= f.submit %>
  </p>

<%= link_to 'see questions list', posts_path %>


</div>

<% end %>

        <div  id="updates" class="na" >
        
       <%= render partial: "activities" %>
      
        </div>
  
