<!DOCTYPE html>
<html>
<head>
  <title>Stackflow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
  .na {
    line-height:30px;
    background-color:#eeeeee;
    width:300px;
    float:right;
    padding:5px;        
}
.sectio {
    width:500px;
    float:left;
    padding:10px;    
}
  </style>
  <script>
$(document).ready(function() {
    setInterval(function () {
          $.ajax('/posts/refresh');
    } , 1000);          
}); 
</script>
</head>
 <body onload="myFunction()">
    <header  class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       
        <nav>
          <ul class="nav navbar-nav navbar-right">
           <li style="color:white; text-align:center"><% if member_signed_in? %>
  <h4><%= current_member.email %></h4>
<% end %></li>
            <li><%= link_to "Home",   posts_path %></li>
            <li><% if member_signed_in? %>
<%= link_to "Sign Out", destroy_member_session_path, :method => :delete %>
<% else %>
              <%= link_to "Sign In", new_member_session_path, :method => :get %>
            <% end %>
          </li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div  style="margin-top:100px;margin-bottom:100px" class="container">
      <%= yield %>
    </div>
    <footer style="background-color:grey" class="navbar navbar-fixed-bottom navbar-inverse">
      <div   class="container">
       
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li>copyright@stackflow</li>
           
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
